<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top custom-header">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">
					Wasfa
				</a>
				
				
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="navbar-links">
				<ul class="nav navbar-nav">
					<!-- <li><a href="home">Home</a></li>
					<li><a href="skills.html" id="skills">Skills</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="more.html">More</a></li> -->
					<li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Categories'%></li>
            <li><%= link_to 'About' %></li>
            <li><%= link_to 'kitchen Secrets' %></li>
				</ul>
			</div>
		</div>
	</nav>
    <%= yield %>
  </body>
</html>
